@use '../_mixins.scss' as *;
@use '../_media.scss' as *;
@use '../_fonts.scss' as *;

._cnt,
._cnt-home {
  @include adaptiveValue('padding-left', 15, 10);
  @include adaptiveValue('padding-right', 15, 10);
  margin: 0 auto;
}

._cnt {
  max-width: 1326px;
}

._cnt-home {
  max-width: 1326px;
}

._ibg,
._ibg-contain {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

._ibg-contain {
  img {
    object-fit: contain;
  }
}

._svg-icon {
  position: relative;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@mixin hide-item {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  min-width: 0;
  max-width: 0;
  min-height: 0;
  max-height: 0;
}

@mixin bg-border-gradient {
  border: 1px solid transparent;
  background:
    linear-gradient(180deg, #0c1118 0%, #030810 100%) padding-box,
    linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.05) 100%
      )
      border-box;
}

@mixin header-indent {
  @include adaptiveValue('margin-top', 79, 50, 1296, 992, 1);
}

// text ========================================================================================================================================================

._title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &::before,
  &::after {
    content: '';
    width: 131px;
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    background-image: url('../../img/icons/title-line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &::before {
    left: calc(100% + 22px);
  }
  &::after {
    right: calc(100% + 22px);
    transform: rotate(-180deg);
  }
}

// select ========================================================================================================================================================

.select-wrapper {
  max-width: 280px;
}

/* base select2 styling override */
.select2-container {
  width: 100% !important;
  font-family: var(--font-family-inter);
}

/* main selection box */
.select2-selection {
  display: flex !important;
  align-items: center;
  height: 42px !important;
  outline: none !important;
  border-radius: var(--border-radius-primary) !important;
  padding: 0 10px !important;
  background-color: transparent !important;
  transition: all 0.3s ease !important;
}

.select2-container--default .select2-selection--single {
  border: 2px solid var(--hint-primary-color) !important;
}

/* placeholder and selected text */
.select2-selection__rendered {
  color: var(--primary-color) !important;
  font-size: var(--font-size-base);
}

/* dropdown arrow */
.select2-selection__arrow {
  right: 8px !important;
  top: 50% !important;
  transform: translateY(-50%);
}

/* hover effect */
.select2-selection:hover {
  border-color: var(--seventh-color) !important;
}

/* when dropdown open */
.select2-container--open .select2-selection {
  border-color: var(--hint-primary-hover-color) !important;
}

/* dropdown menu */
.select2-dropdown {
  border: 2px solid var(--hint-primary-color) !important;
  border-radius: var(--border-radius-primary) !important;
  margin-top: 4px !important;
  background-color: var(--bg-fifth-color) !important;
}

/* option items */
.select2-results__option {
  padding: 8px 12px !important;
  transition: all 0.15s ease;
}

/* hover on item */
.select2-results__option--highlighted {
  background-color: var(--hint-primary-hover-color) !important;
  color: #000 !important;
}
