:root {
  --cod-gray: #201e1d;
  --soya-bean: #645c50;
  --white-janna: linear-gradient(#f5ead8, #ffffff);
  --feta: #f0fae1;
  --makara: #82796a;
  --copper: #c67139;
  --janna: #f5ead8;
  --limed-ash: #728157;
  --kelp: #3d472b;
  --copper-10: rgb(198, 113, 57, 0.1);
  --tuscany: #b2622d;
  --hemlock: #56633f;
  --white-rock: #eee7db;
  --merino: #f9f4ed;
  --cod-gray-16: rgb(32, 30, 29, 0.16);
  --cod-gray-07: rgb(32, 30, 29, 0.07);
  --hairy-heath: #643312;
  --zorba: #a19786;
  --rope: #8c491a;
  --double-spanish-white: #ebddc5;
  --chrome-white: #e1eecc;
  --armadillo: #474238;
  --green-kelp: #272e1b;
  --sprout: #ccdbb2;
  --flesh: #ffc6a5;
  --sisal: #dcd3c4;

  --other-color-1: #ffe1d0;

  // status
  --pending-color: #ff5e00;
  --error-color: #ed0006;
  --success-color: #34a853;
}
